@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-stack:"Montserrat", sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: $font-stack;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
}

ul {
    list-style: none;
}

.title {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    margin: 5rem 0 3rem 0;
}

.subtitle {
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
    margin: 3rem 0;
    font-weight: 400;
}

.container {
    max-width: 1300px;
    overflow: auto;
    margin:  0 auto;
    padding: 0 30px;
}

.navbar ul li a:hover,
.navbar ul li a.active {
    color: violet;
    text-decoration: underline;
}

img {
    max-width: 100%;
}

.btn {
    display: block;
    border: 1px solid violet;
    color: violet;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
}

span {
    color: violet;
}

.social {
    border-radius: 50px;
    width: 50px;
    margin-bottom: .5rem;
}

.flex {
    display: flex;
flex: 1;
gap: 50px;
}

.flex-2 {
    display: flex;
    flex: 1;
    gap: 10px;
}

.bio {
    padding: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.newsletter {
    padding: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 3rem 0;
 input {
    text-align: left;
 }
}

.popularpost {
    padding: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}

form {
    .form-group {
        margin-bottom: 1rem;
    }
    .form-control {
        display: block;
        width: 100%;
        padding: 1rem;
        border-radius: 5px;
    }
    button {
        width: 100%;
        margin-bottom: 2rem;
    }
}

::placeholder {
    font-family: "Font Awesome 5 free";
    font-weight: 600;
    content: "\f007";
    text-align: right;
}

//mainheader
#mainheader {
    .navbar {
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        padding: 1rem 0;
        ul {
            display: flex;
            margin-top: 1rem;
        }
        li {
            margin-left: 1rem;
        }
        .container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .social-flex {
            display: flex;
            margin-top: 1rem;
            justify-content: end;
            img {
                width: 20px;
            }
        }
    }
}

//content
#content-flex {
    width: 90%;
    margin: 0 auto;
    .left-panel {
        text-align: center;
        .new1 {
            margin-bottom: 2rem;
        }
        img {
            width: 90%;
        }
        .new1-text {
            width: 80%;
            margin: 0 auto;
         margin-top: 1rem;
         a {
            color: violet;
         }
           h2 {
            margin: 2rem 0;
           }
            p {
                margin-bottom: 2rem;
            }
            hr {
                margin: 2rem 0;
            }
            .btn {
                width: fit-content;
                margin: 0 auto;
            }
            .news-social {
                justify-content: end;
                img {
                    width: 20px;
                    border-radius: 50%; 
                               }
            }
        }
    }
    .right-panel {
        width: 100%;
        .bio {
            text-align: center;
            img {
                width: 70%;
                border-radius: 50%;
            }
            .social {
                width: 10%;
                display: block;
                margin: 0 auto;
                margin-top: 1rem;
                text-align: center;
            }
        }
        .newsletter {
          input {
            width: 100%;
            padding: .5rem;
            margin-top: 1rem;
          }
          input::placeholder{
            text-align: left;
          }
          button {
            width: 100%;
            background: violet;
            color: #fff;
            border: none;
            padding: 10px 20px;
            margin-top: 1rem;
            border-radius: 4px;
            cursor: pointer;
          }
            
        }
        .popularpost {
            .cards {
                .card1 {
                    img {
                        padding: 1rem 0;
                    }
                    h4 {
                        margin: 1rem 0 2rem 0;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

//articles
#content-flex-2 {
    width: 90%;
    margin: 0 auto;
    .left-panel {
        text-align: center;
        img {
            width: 90%;
        }
        .news-flex {
            width: 80%;
            margin: 0 auto;
            padding-top: 2rem;
            h4 {
                font-weight: 300;
            }
            .news-social {
                justify-content: end;
                img {
                    width: 20px;
                    border-radius: 50%; 
                               }
            }
        }
        .new1-text {
            width: 80%;
            margin: 0 auto;
         margin-top: 1rem;
           h2 {
            margin: 2rem 0;
           }
           a {
            color: violet;
           }
            p {
                margin: 2rem 0;
            }
        }
    }
    .right-panel {
        width: 100%;
        .bio {
            text-align: center;
            img {
                width: 70%;
                border-radius: 50%;
            }
            .social {
                width: 10%;
                display: block;
                margin: 0 auto;
                margin-top: 1rem;
                text-align: center;
            }
        }
        .newsletter {
          input {
            width: 100%;
            padding: .5rem;
            margin-top: 1rem;
          }
          input::placeholder{
            text-align: left;
          }
          button {
            width: 100%;
            background: violet;
            color: #fff;
            border: none;
            padding: 10px 20px;
            margin-top: 1rem;
            border-radius: 4px;
            cursor: pointer;
          }   
        }
        .popularpost {
            .cards {
                .card1 {
                    img {
                        padding: 1rem 0;
                    }
                    h4 {
                        margin: 1rem 0 2rem 0;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

//about
#about {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2rem;
    .about-flex {
        img {
            width: 30%;
        }
        p {
            line-height: 25px;
        }
    }
}

//contact
#contact {
    width: 70%;
    margin: 0 auto;
    form {
        .flexbox {
            flex: 1;
        }
    }
}

//footer 
#footer {
    padding: 3rem 0;
    text-align: center;
}